h3{
    font-family: 'Sriracha', cursive;
}








/*******************************Cards**********************************************/
.card{
margin: 10px auto 10px;
}

.card:hover{
box-shadow: 2px 2px 5px #db7b7b;
}

.card-img-top{
    height: 12rem;
}

.card-deck{
    margin: 5% auto 5%;
}

/************************ contents of footer container****************************/
.footer_container{
    
    background-color: #222831;
    padding: 25px 5% 0;
    
}
.social{
    padding-top: 50px;
    text-align: center;
}

.footer-link{
    font-size: 1.3rem;
    color: white;
    padding: 25px 10%;
}

.copyright{
    color: white;
    padding-top: 30px;
    margin-bottom: 0;

}